.gradle
.idea
.DS_Store
/build/
/app/build/
/bluetoothobd/build/
/connectivity/build/
/fab/build/
/spherical/build/
/eventbus/build/
/volley/build/
/eventbus-test/build/
/photoview/build/
*.iml
/captures/
scalablevideoview/build/
*.a
*.pc
ajcore*.txt
app/src/main/protogen/
*.apk
/utilities/**/*
!/utilities/download_metadata.py
!/utilities/trackprocessor
local.properties