.gradle
.idea
.DS_Store
/build/
/app/build/
/bluetoothobd/build/
/connectivity/build/
/fab/build/
/spherical/build/
/eventbus/build/
/ffmpeg/build/
/volley/build/
/gradle/
/gradle/wrapper/
/gradle/wrapper/*
/eventbus-test/build/
/photoview/build/
/gradle/
gradlew.bat
gradlew
*.iml
/captures/
scalablevideoview/build/
ffmpeg/src/main/ffmpeg/ffmpeg-3.0.1/
ffmpeg/src/main/ffmpeg/x264/
*.a
*.pc
ffmpeg/src/main/jniLibs/armeabi/include/
ffmpeg/src/main/jniLibs/armeabi/bin/
ffmpeg/src/main/jniLibs/armeabi-v7a/include/
ffmpeg/src/main/jniLibs/armeabi-v7a/bin/
ffmpeg/src/main/jniLibs/x86/include/
ffmpeg/src/main/jniLibs/x86/bin/
app/src/main/protogen/
*.apk