<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telenav.osv"
    android:versionCode="50"
    android:versionName="1.9.10">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />

    <application
        android:name=".application.OSVApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:process="@string/main_process_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.skobbler.ngx.API_KEY"
            android:value="8524237865149b2207e3b3d26bb73fc914f45941286a6d99be9c10df24887f4f" />

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.CameraHandlerService"
            android:icon="@drawable/ic_launcher"
            android:label="OSV recording service" />

        <receiver android:name=".service.WifiBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.BluetoothBroadcastReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.StorageBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.UploadHandlerService"
            android:icon="@drawable/ic_launcher"
            android:label="OSV uploading service" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c1f1517ab073bd0f7235948145e059192e8cb582" />

        <activity android:name=".activity.PlayerActivity"
            android:taskAffinity="com.telenav.streetview.PlayerActivity"
            android:process="@string/playback_process_name"
            android:screenOrientation="sensor"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:multiprocess="false"
            android:noHistory="true"
            android:configChanges="orientation|screenSize"
            android:finishOnTaskLaunch="true"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true">
        </activity>
    </application>

</manifest>